.CardImage {
	width: 138px;
	height: 138px;
	border-radius: 8px;
}

.CardSize {
	max-width: 17rem;
}

.CardBorder {
	border-radius: 10px;
	box-shadow: 10px 5px 15px #ccc;
}

.CardTitle {
	color: #09dbc6;
    font-size: 1rem;
    font-weight: 600;
    padding: 20px 0;
}

.CardText {
	padding: 30px 0;
}



/* logo slider */
.LogoImage {
	height: 2.5rem;
}
/* logo slider */


.SliderHeading {
	color: #fff;
    top: 8rem;
    font-size: 3rem;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: 15%;
    margin-right: auto;
    width: max-content;
}

.SliderImage {
	height: 35rem;
    object-fit: cover;
}

.Button {
	background-color: #09dbc6;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 20px 40px;
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    left: 0;
    right: 0;
    top: 25rem;
    margin-left: auto;
    margin-right: auto;
}



.BlackCardBorder {
    border-radius: 10px;
    box-shadow: 10px 5px 15px #ccc;
    height: 100%;
    padding: 10px;
    /*min-width: 270px;*/
    background-color: #474747;
}

.Linear {
    background: linear-gradient(to right, #09dbc6, #09dbc6 1%, #d4ffef 50%, #d4ffef, white);
}

.Linear2 {
    background-color: #09dbc6;
}

.CardBorder3 {
    border-radius: 10px;
    box-shadow: 10px 5px 15px #ccc;
    /*height: 100%;*/
    padding: 20px 30px 0 30px;
    text-align: center;
}